# variaveis de banco
POSTGRES_DB=ecommerce_db
POSTGRES_USER=ecommerce_user
POSTGRES_PASSWORD=change_me
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
DATABASE_URL=postgresql+asyncpg://ecommerce_user:change_me@localhost:5432/ecommerce_db

# porta HTTP publicada pelo container da API
API_PORT=8000

# variaveis de jwt
JWT_SECRET_KEY=change_me_use_at_least_32_characters
JWT_ALGORITHM=HS256
JWT_ACCESS_TOKEN_EXPIRE_MINUTES=30
